#header {
    width: 100%;
    background-color: darkseagreen;
}

#leftfloat {
    width: 70%;
    height: 70%;
    margin-right: 0;
    float: left;
}

#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#rightfloat {
    float: right;
    text-align: center;
    margin-left: 0;
    background-color: bisque;
    width: 30%;
}

#footer {
    width: 100%;
    background-color: burlywood;
    float: clear;
}